extends ../_layout

//- include ../_mixins/_ingredient
//- include ../_
block content
    div.container
        h3=   model.title
        ul
            each category in model.categories
                li
                    a(href="/categories/" + category.id)= category.name
        
        div.col-xs-12="Автор: " +model.author.name
        div.col-xs-12= "Добвена на " +model.created
        div.col-xs-12
            each img in model.imageUrls
            
                img.img-responsive.div.col-xs-4(src= img)
        
        div.col-xs-12
            strong 
                | Необходими продукти
            ol
                each ingridient in model.ingredients              
                    li
                        div.col-xs-4= ingridient.name
                        div.col-xs-2= ingridient.quantity
                            span= ingridient.unit
        div.col-xs-12
        strong
            | Начин на приготвяне:
        div= model.preparation
        div= "Време за готвене: " + model.cookingTimeInMinutes + " мин."
        
        if user
            buton.btn.btn-primary
                | Добави към любими
            buton.btn.btn-success
                | Like
            buton.btn.btn-danger
                | Unlike
            if !!user.id===!!model.author.id
                buton.btn.btn-primary
                    | Редактирай
                buton.btn.btn-danger
                    | Изтрий
            div

                h3
                    | Коментари
                ul
                    li
                    if model.comments.length
                        each comment in model.comments
                            li
                                strong= comment.author
                                p= "Добавен на  " + comment.created
                                p= comment.content
        
                form(method="post" action="/recipes/"+model.id)
                    textarea.form-control(name="content" placeholder="Добави коментар")
                    br
                    input.btn.btn-danger(type="submit" value="Публикувай")
                
