extends ../_layout

block content
    form(action="/recipes/edit/"+recipe._id method="post")
        input.form-control(type="text" name="title" value= recipe.title)
        input.form-control(type="text" name="cookingTimeInMinutes" value= recipe.cookingTimeInMinutes)
        textarea.form-control(name="preparation" value= recipe.preparation)
            = recipe.preparation
        
        h3
            | Снимки
        ul.image-list
            each imageUrl in recipe.imageUrls
                li
                    input.form-control(type="text" name="imageUrls" value=imageUrl)
                    a.btn-remove-image(href="#")
                        | Премахни снимка
        br
        a#btn-add-image(href="#")
            | Добави линк към нова снимка

        h3
           | Съставки:
        ul.ingredients-list
            each ingredient in recipe.ingredients
                li
                    input.form-control(type="text" name="ingredientsName" value=ingredient.name)
                    input(type="text" name="ingredientsQuantity" value=ingredient.quantity)
                    select(name="ingredientsUnits" value=ingredient.unit)
                        each unit in units
                            option(value=unit selected= unit == ingredient.unit)
                                =unit
                    a.btn-remove-ingredient(href="#")
                        | Премахни съставка
        br
        a#btn-add-ingredient(href="#")
            | Добави нова съставка

        h3
           | Категории:
        ul
            each category in categories
                li
                    label
                        = category.name
                        - let checked = recipe.categories.find(c => c.name === category.name)
                        input.form-control(type="checkbox" name="categories" value=category._id checked=checked)

        - let isAdmin = user.role === "admin"
        if isAdmin
            label
                | Изтрий
                input(id="delete-check-box" type="checkbox" name="deleted")
        br

        button.btn
            | Промени